/* Common CSS styles for header layoit */
.header-container {
  display: flex;
  flex-direction: column;
}

.todo-header {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.todo-header label {
  font-size: 22px;
  font-weight: 700;
}

.todo-header > .right {
  margin-left: auto;
}

.close-button {
  width: 35px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffce00;
  border: none;
  outline: none;
}

.close-button:hover {
  background-color: #dfb611;
}

.close-button:active {
  background-color: #fdce13;
}
